.ListItem {
	align-items: baseline;
	display: flex;
	flex-direction: row;
	font-size: 1.2em;
}

.ListItem-checkbox {
	accent-color: var(--color-accent);
}

.ListItem-label {
	margin-left: 0.2em;
}

.delete-modal {
	position: absolute;
	left: 0;
	right: 0;
	top: 20%;
	margin-inline: auto;
	width: 40rem;
	height: 30rem;
	background-color: white;
	padding: 1.25rem;
	text-align: center;
	border-radius: 5px;
}

.overdue {
	background-color: #ea5f89;
}

.soon {
	background-color: #cc79a7;
}

.kind-of-soon {
	background-color: #f7b7a3;
}

.not-soon {
	background-color: #c6d68f;
}

.inactive {
	background-color: lightgray;
}
